<div>
  <h2>The definite ToDo list app</h2>
  <br><hr><br>
  <p><b>Hello world!</b> This is an app built using Angular.js.</p>
  <br>
  <p>You can use it to track the tasks you have for the week and set an alarm
    by double tapping or clicking on each task (it will display a green left border)
  </p>
  <br><hr><br>
  <h4>Features</h4>
  <p>It is divided into various components. The most important ones are the
    Add Task Component, which you can toggle on and off by the Add button from 
  the header; and the Task view component, which shows all the tasks available </p>
  <br>
  <p>There is also routing for this about page, and the use of Input and Output
    used for the smaller components to deliver change of states. </p>
  <br>
  <p>The task information is stored in a json database (you can find it in the 
    root folder as db.json), so you can refresh the page and the data will
    remain.
  </p>
  <br><hr><br>
  <h4>Summary</h4>
  <p>Overall, it is a very simple app built with the aim of learning the complexities
    of Angular, fighting off its steep learning curve and building a very simple
    yet beautiful and useful application to make myself proud.
  </p>
  <p>I hope you enjoy it! thanks for using it</p>
  <br><hr><br>
  <h5>Version 1.0.2</h5>
  <a routerLink="/">Go back</a>
</div>
